.not-found-container {
  min-height: 100vh;
  background: url('https://res.cloudinary.com/dtkwvlezz/image/upload/f_auto,q_auto/v1/Netflix/not-found-lg')
    center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 36px;
}

.not-found-title {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .not-found-title {
    font-size: 96px;
  }
}

.not-found-msg {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .not-found-msg {
    font-size: 24px;
  }
}

.not-found-home-button {
  padding: 8px 24px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 3px;
  color: #171f46;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .not-found-home-button {
    padding: 12px 24px;
  }
}
