.custom-arrow {
  cursor: pointer;
}

.slider {
  display: flex;
  align-items: center;
  padding: 0px 12px;
}

@media screen and (min-width: 768px) {
  .slider {
    padding: 0px;
  }
}

.category-movie-item {
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .category-movie-item {
    padding: 8px;
  }
}

.category-movie-img {
  border-radius: 8px;
  width: 100%;
  min-height: 64px;
}

@media screen and (min-width: 768px) {
  .category-movie-img {
    min-height: 100px;
  }
}
