.movie-item-details-container {
  background-color: #131313;
  padding-bottom: 24px;
  min-height: 100vh;
}

.movie-details-loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-details {
  padding: 0% 32px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .movie-details {
    padding: 0% 12%;
    margin-bottom: 24px;
  }
}

.movie-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .movie-title {
    font-size: 48px;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

.movie-run-time-year {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
}

.censor-rating {
  padding: 2px 12px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-right: 16px;
}

.movie-overview {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;
  line-height: 1.5;
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .movie-overview {
    font-size: 20px;
    width: 80%;
  }
}

.more-details-padding {
  padding: 0% 32px;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .more-details-padding {
    padding: 0% 12%;
  }
}

.more-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.more-details-width {
  width: 30%;
}

@media screen and (min-width: 768px) {
  .more-details-width {
    width: 24%;
  }
}

.more-details-title {
  color: #64748b;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .more-details-title {
    font-size: 18px;
  }
}

.more-details-li {
  list-style-type: none;
  padding: 0px;
}

.more-details-li-item {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .more-details-li-item {
    font-size: 14px;
  }
}

.more-details-des {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .more-details-des {
    font-size: 14px;
  }
}

.similar-movies-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .similar-movies-title {
    font-size: 24px;
  }
}

.similar-movies-li {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.similar-movie-item {
  width: 31%;
  margin-top: 12px;
  margin-right: 2.33%;
}

@media screen and (min-width: 768px) {
  .similar-movie-item {
    width: 23%;
    margin-right: 2%;
    margin-top: 20px;
  }
}

.similar-movie-img {
  width: 100%;
  min-height: 64px;
  border-radius: 8px;
}
